{% extends '@EasyAdmin/default/list.html.twig' %}


{% block main %}

    {{ parent() }}
    <select id="myselecet">
        <option value="1">aaaaaaaa</option>
        <option value="2">bbbbbbbb</option>
        <option value="3">-- ccccccccc</option>
        <option value="4">-- dddddddddd</option>
        <option value="5">eeeeeeeeee</option>
        <option value="6">-- ffffffffff</option>
    </select>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var options = document.getElementById('myselecet').options;

var array = new Array();

            for (var i = 0; i < options.length; i++) {
                if (!options[i].text.includes('--')) {
                    array[i] = new Array(options[i].text);


                    for (var j = 0; j < array.length; j++) {
                            array[i][j] = new Array(options[i].text)

                    }

                }
            }

            console.log(array)

        });


    </script>


{% endblock %}