{% extends '@EasyAdmin/default/list.html.twig' %}



{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).on("click", ".open-AddBookDialog", function () {

            var text = "";

            var myBookId = $(this).data('id');

            var url = '{{ path("test", {'id': 'article_id'}) }}';
            url = url.replace("article_id", myBookId);
            text += '<a href='+ url +'>article</a>';

            document.getElementById("result").innerHTML = text;
        });

    </script>


{% endblock %}